@-webkit-keyframes wphealthtracker-missing-data-animation {
    0%{margin-left:0px; color:rgb(255,0,0)}
    50%{margin-left:10px}
    100%{margin-left:0px; color:rgb(0,0,0)}
}

@-moz-keyframes wphealthtracker-missing-data-animation {
    0%{margin-left:0px; color:rgb(255,0,0)}
    50%{margin-left:10px}
    100%{margin-left:0px; color:rgb(0,0,0)}
}

@-o-keyframes wphealthtracker-missing-data-animation {
    0%{margin-left:0px; color:rgb(255,0,0)}
    50%{margin-left:10px}
    100%{margin-left:0px; color:rgb(0,0,0)}
}

@keyframes wphealthtracker-missing-data-animation {
    0%{margin-left:0px; color:rgb(255,0,0)}
    50%{margin-left:10px}
    100%{margin-left:0px; color:rgb(0,0,0)}
}

@-webkit-keyframes wphealthtracker-back-forth-wiggle-animation {
    0%{margin-left:0px;}
    25%{margin-left:-3px}
    50%{margin-left:0px;}
    75%{margin-left:-3px;}
    100%{margin-left:0px;}
}

@-moz-keyframes wphealthtracker-back-forth-wiggle-animation {
    0%{margin-left:0px;}
    25%{margin-left:-3px}
    50%{margin-left:0px;}
    75%{margin-left:3px;}
    100%{margin-left:0px;}
}

@-o-keyframes wphealthtracker-back-forth-wiggle-animation {
    0%{margin-left:0px;}
    25%{margin-left:-3px}
    50%{margin-left:0px;}
    75%{margin-left:3px;}
    100%{margin-left:0px;}
}

@keyframes wphealthtracker-back-forth-wiggle-animation {
    0%{margin-left:0px;}
    25%{margin-left:-3px}
    50%{margin-left:0px;}
    75%{margin-left:3px;}
    100%{margin-left:0px;}
}










@-webkit-keyframes wphealthtracker-back-forth-wiggle-animation2 {
    0%{left:0px;}
    25%{left:-3px}
    50%{left:0px;}
    75%{left:-3px;}
    100%{left:0px;}
}

@-moz-keyframes wphealthtracker-back-forth-wiggle-animation2 {
    0%{right:0px;}
    25%{right:-3px}
    50%{right:0px;}
    75%{right:3px;}
    100%{right:0px;}
}

@-o-keyframes wphealthtracker-back-forth-wiggle-animation2 {
    0%{right:0px;}
    25%{right:-3px}
    50%{right:0px;}
    75%{right:3px;}
    100%{right:0px;}
}

@keyframes wphealthtracker-back-forth-wiggle-animation2 {
    0%{right:6px;}
    25%{right:12px}
    50%{right:6px;}
    75%{right:12px;}
    100%{right:6px;}
}

























@-ms-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
    }
}