#wphealthtracker-edituser-name-search-wrapper{
    max-width:300px;
    @extend %wphealthtracker-margin-centered;
}

#wphealthtracker-spinner-select-user{
    margin-top:10px;
}

#wphealthtracker-delete-user-wrapper{
	margin-top: 20px;
}

#wphealthtracker-delete-user-button-initial{
	margin-bottom:15px;
}

#wphealthtracker-delete-user-wrapper #wphealthtracker-create-user-godmode-warning-message{
	color:white;
}

#wphealthtracker-spinner-delete-user{
	margin-top:20px;
}
